
/*Adding style to the background of the page*/
body{
  background-color: aliceblue;
}

/*Styling the form so that it doesn't stretch too far into the page*/
#formDiv{
  height: 500px;
  width: 400px;
}